################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HandDiagnostics/.vs
/HandDiagnostics/HandDiagnostics/bin
/HandDiagnostics/HandDiagnostics/obj/Debug
/HandDiagnostics/HandDiagnostics/Properties
/HandDiagnostics/packages
/HandDiagnostics/HandDiagnostics.sln
/HandDiagnostics/HandDiagnostics/HandDiagnostics.csproj
/HandDiagnostics/HandDiagnostics/HandDiagnostics.csproj.user
/HandDiagnostics/HandDiagnostics/Web.Debug.config
/HandDiagnostics/HandDiagnostics/Web.Release.config
/HandDiagnostics/HandDiagnostics/Web.config
/HandDiagnostics/HandDiagnostics/packages.config
/arduino/spinner/Spinner/.vs/Spinner/v14
/arduino/spinner/Spinner/Debug
/unity/Avatar/.vs/Avatar/v14
/unity/Avatar/Library
/unity/Avatar/Temp
/AEC/
/unity/**/*.meta
/unity/Avatar/Assets/SteamVR/InteractionSystem/Longbow/Sounds
