################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HandDiagnostics/.vs
/HandDiagnostics/HandDiagnostics/bin
/HandDiagnostics/HandDiagnostics/obj/Debug
/HandDiagnostics/HandDiagnostics/Properties
/HandDiagnostics/packages
